@{
    ViewBag.Title = "Informações para Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Nome</h3>

    <address>
        <p>@ViewBag.Telefone</p>
        <p>@ViewBag.Endereco</p>
        <p>@ViewBag.Bairro</p>
        <p>@ViewBag.Complemento</p>
        <p>@ViewBag.Cidade @ViewBag.Estado</p>
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:@ViewBag.Email">@ViewBag.Email</a><br />
        <strong>Git:</strong> <a href="@ViewBag.Git">@ViewBag.Git</a>
    </address>
</main>