@{
    ViewBag.Title = "MENU DE TAREFAS";
}
<main aria-labelledby="title">
    <h1 id="title">@ViewBag.Title</h1>
    <div>
        <ul class="navbar-nav flex-grow-1">
            <li>@Html.ActionLink("Tarefa 1", "Tarefa1", "Tarefas", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Tarefa 2", "Tarefa2", "Tarefas", new { area = "" }, new { @class = "nav-link" })</li>
            <li>@Html.ActionLink("Tarefa 3", "Tarefa3", "Tarefas", new { area = "" }, new { @class = "nav-link" })</li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</main>